/* src/Modules.css */  
.modules-container {  
    display: flex;
    justify-content: space-around;
    padding: 31px;
    color: white;
    position: relative;
    top: -777px;
    /* background-color: rgb(255 255 255 / 6%);
    backdrop-filter: blur();
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 16px 35px rgb(128 120 231 / 27%); */
  }  
  
  .module {  
    background-color: #aec3db;
    border-radius: 8px;
    padding: 20px;
    width: 27%;
    height: 279px;
}

.module:hover {
    transform: scale(1.05); /* Slight zoom effect */
  }
  
  .module .overlay {
    position: relative;
    top: -98%;
    left: -20px;
    width: 112%;
    height: 278px;
    background: rgb(79 74 139 / 66%);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    line-height: 1.5;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 7px;
  }
  
  .module:hover .overlay {
    transform: translateY(0); /* Slide up on hover */
    opacity: 1; /* Fade in */
  }
.module img {
  
    transition: transform 0.5s ease;
  }
.Main_Mod{
    position: relative;
    top: 171px;
}
  
  h2 {  
    color: #120e0e;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 25px; }  
  
  ul {  
    list-style-type: none;  
    padding: 0;  
  }  
  
  li {  
    margin: 10px 0;  
  }
  .img-fluid{
  max-width: 40%;
  height: auto;
  width: 38%;
  position: relative;
  left: 34%;
  top: 16px;
  }